# Desafio 3

Neste desafio, iremos praticar nossos conhecimentos sobre distribuições de probabilidade. Para isso,
dividiremos este desafio em duas partes:
    
1. A primeira parte contará com 3 questões sobre um *data set* artificial com dados de uma amostra normal e
    uma binomial.
2. A segunda parte será sobre a análise da distribuição de uma variável do _data set_ [Pulsar Star](https://archive.ics.uci.edu/ml/datasets/HTRU2), contendo 2 questões.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Setup_ geral

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as sct
import seaborn as sns
from statsmodels.distributions.empirical_distribution import ECDF

In [2]:

from IPython.core.pylabtools import figsize


figsize(12, 8)

sns.set()

## Parte 1

### _Setup_ da parte 1

In [3]:
np.random.seed(42)
    
dataframe = pd.DataFrame({"normal": sct.norm.rvs(20, 4, size=10000),
                     "binomial": sct.binom.rvs(100, 0.2, size=10000)})

## Inicie sua análise a partir da parte 1 a partir daqui

In [4]:
dataframe.head()

      normal  binomial
0  21.986857        18
1  19.446943        15
2  22.590754        14
3  26.092119        15
4  19.063387        21

In [5]:
dataframe.describe()

             normal      binomial
count  10000.000000  10000.000000
mean      19.991456     20.097000
std        4.013850      4.041191
min        4.310399      6.000000
25%       17.309638     17.000000
50%       19.989620     20.000000
75%       22.684324     23.000000
max       35.704951     36.000000

## Questão 1

Qual a diferença entre os quartis (Q1, Q2 e Q3) das variáveis `normal` e `binomial` de `dataframe`? Responda como uma tupla de três elementos arredondados para três casas decimais.

Em outra palavras, sejam `q1_norm`, `q2_norm` e `q3_norm` os quantis da variável `normal` e `q1_binom`, `q2_binom` e `q3_binom` os quantis da variável `binom`, qual a diferença `(q1_norm - q1 binom, q2_norm - q2_binom, q3_norm - q3_binom)`?

In [6]:
q_norm = np.quantile(dataframe['normal'], [0.25,0.50,0.75])
q_binom = np.quantile(dataframe['binomial'], [0.25, 0.50, 0.75])
tuple(np.around(q_norm-q_binom, 3))

(0.31, -0.01, -0.316)

In [7]:
def q1():
    # Retorne aqui o resultado da questão 1.
    q_norm = np.quantile(dataframe['normal'], [0.25,0.50,0.75])
    q_binom = np.quantile(dataframe['binomial'], [0.25, 0.50, 0.75])
    return tuple(np.around(q_norm-q_binom, 3))

Para refletir:

* Você esperava valores dessa magnitude?

* Você é capaz de explicar como distribuições aparentemente tão diferentes (discreta e contínua, por exemplo) conseguem dar esses valores?

## Questão 2

Considere o intervalo $[\bar{x} - s, \bar{x} + s]$, onde $\bar{x}$ é a média amostral e $s$ é o desvio padrão. Qual a probabilidade nesse intervalo, calculada pela função de distribuição acumulada empírica (CDF empírica) da variável `normal`? Responda como uma único escalar arredondado para três casas decimais.

In [8]:
mean_plus_std = dataframe['normal'].mean() + dataframe['normal'].std()
mean_minus_std = dataframe['normal'].mean() - dataframe['normal'].std()
until_MPS = sct.norm.cdf(mean_plus_std, loc = dataframe['normal'].mean(), scale = dataframe['normal'].std())
until_MMS = sct.norm.cdf(mean_minus_std, loc = dataframe['normal'].mean(), scale = dataframe['normal'].std())
round(until_MPS - until_MMS,3)

0.683

In [24]:
mean = dataframe['normal'].mean()
std = dataframe['normal'].std()
result = ECDF(dataframe['normal'])(mean+std) - ECDF(dataframe['normal'])(mean-std)
float(result)

0.6838

In [10]:
def q2():
    # Retorne aqui o resultado da questão 2.
    mean = dataframe['normal'].mean()
    std = dataframe['normal'].std()
    result = ECDF(dataframe['normal'])(mean+std) - ECDF(dataframe['normal'])(mean-std)
    return float(result)

Para refletir:

* Esse valor se aproxima do esperado teórico?
* Experimente também para os intervalos $[\bar{x} - 2s, \bar{x} + 2s]$ e $[\bar{x} - 3s, \bar{x} + 3s]$.

## Questão 3

Qual é a diferença entre as médias e as variâncias das variáveis `binomial` e `normal`? Responda como uma tupla de dois elementos arredondados para três casas decimais.

Em outras palavras, sejam `m_binom` e `v_binom` a média e a variância da variável `binomial`, e `m_norm` e `v_norm` a média e a variância da variável `normal`. Quais as diferenças `(m_binom - m_norm, v_binom - v_norm)`?

In [11]:
var_final = dataframe['binomial'].var() - dataframe['normal'].var()
mean_final = dataframe['binomial'].mean() - dataframe['normal'].mean()
(round(mean_final,3), round(var_final,3))

(0.106, 0.22)

In [23]:
norm = dataframe['normal'].agg(['mean', 'var'])
binom = dataframe['binomial'].agg(['mean', 'var'])
dif = np.around(binom - norm,3)
tuple(dif)

(0.106, 0.22)

In [13]:
def q3():
    # Retorne aqui o resultado da questão 3.
    norm = dataframe['normal'].agg(['mean', 'var'])
    binom = dataframe['binomial'].agg(['mean', 'var'])
    dif = np.around(binom - norm,3)
    return tuple(dif)

Para refletir:

* Você esperava valore dessa magnitude?
* Qual o efeito de aumentar ou diminuir $n$ (atualmente 100) na distribuição da variável `binomial`?

## Parte 2

### _Setup_ da parte 2

In [14]:
stars = pd.read_csv("pulsar_stars.csv")

stars.rename({old_name: new_name
              for (old_name, new_name)
              in zip(stars.columns,
                     ["mean_profile", "sd_profile", "kurt_profile", "skew_profile", "mean_curve", "sd_curve", "kurt_curve", "skew_curve", "target"])
             },
             axis=1, inplace=True)

stars.loc[:, "target"] = stars.target.astype(bool)

## Inicie sua análise da parte 2 a partir daqui

In [15]:
stars.head(3)

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve,target
0,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,False
1,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,False
2,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,False

In [16]:
stars.describe()

,mean_profile,sd_profile,kurt_profile,skew_profile,mean_curve,sd_curve,kurt_curve,skew_curve
count,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000,17897.000000
mean,111.078321,46.549021,0.477897,1.770417,12.614926,26.326918,8.303574,104.859419
std,25.652705,6.843040,1.064056,6.168058,29.473637,19.471042,4.506217,106.517270
min,5.812500,24.772042,-1.876011,-1.791886,0.213211,7.370432,-3.139270,-1.976976
25%,100.929688,42.375426,0.027108,-0.188528,1.923077,14.437330,5.781485,34.957119
50%,115.078125,46.946435,0.223241,0.198736,2.801839,18.459977,8.433872,83.068996
75%,127.085938,51.022887,0.473349,0.928206,5.464883,28.428152,10.702973,139.310905
max,192.617188,98.778911,8.069522,68.101622,223.392140,110.642211,34.539844,1191.000837

## Questão 4

Considerando a variável `mean_profile` de `stars`:

1. Filtre apenas os valores de `mean_profile` onde `target == 0` (ou seja, onde a estrela não é um pulsar).
2. Padronize a variável `mean_profile` filtrada anteriormente para ter média 0 e variância 1.

Chamaremos a variável resultante de `false_pulsar_mean_profile_standardized`.

Encontre os quantis teóricos para uma distribuição normal de média 0 e variância 1 para 0.80, 0.90 e 0.95 através da função `norm.ppf()` disponível em `scipy.stats`.

Quais as probabilidade associadas a esses quantis utilizando a CDF empírica da variável `false_pulsar_mean_profile_standardized`? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [22]:
aux_stars = stars[stars['target'] == False]['mean_profile']
false_pulsar_mean_profile_standardized = (aux_stars - aux_stars.mean())/ (aux_stars.std())
false_pulsar_mean_profile_standardized.describe()
emp_cdf_pulse = ECDF(false_pulsar_mean_profile_standardized)
quantis = sct.norm.ppf([0.80, 0.90, 0.95])
tuple(np.around(emp_cdf_pulse(quantis),3))

(0.806, 0.911, 0.959)

In [18]:
def q4():
    # Retorne aqui o resultado da questão 4.
    aux_stars = stars[stars['target'] == False]['mean_profile']
    false_pulsar_mean_profile_standardized = (aux_stars - aux_stars.mean())/ (aux_stars.std())
    false_pulsar_mean_profile_standardized.describe()
    emp_cdf_pulse = ECDF(false_pulsar_mean_profile_standardized)
    quantis = sct.norm.ppf([0.80, 0.90, 0.95])
    return tuple(np.around(emp_cdf_pulse(quantis),3))

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?

## Questão 5

Qual a diferença entre os quantis Q1, Q2 e Q3 de `false_pulsar_mean_profile_standardized` e os mesmos quantis teóricos de uma distribuição normal de média 0 e variância 1? Responda como uma tupla de três elementos arredondados para três casas decimais.

In [21]:
aux_stars = stars[stars['target'] == False]['mean_profile']
false_pulsar_mean_profile_standardized = (aux_stars - aux_stars.mean())/ (aux_stars.std())
pulse = np.quantile(false_pulsar_mean_profile_standardized, [0.25, 0.50, 0.75])
norm = sct.norm.ppf([0.25, 0.50, 0.75], loc=0, scale= 1)
tuple(np.around(pulse-norm,3))

(0.027, 0.04, -0.004)

In [20]:
def q5():
    # Retorne aqui o resultado da questão 5.
    aux_stars = stars[stars['target'] == False]['mean_profile']
    false_pulsar_mean_profile_standardized = (aux_stars - aux_stars.mean())/ (aux_stars.std())
    pulse = np.quantile(false_pulsar_mean_profile_standardized, [0.25, 0.50, 0.75])
    norm = sct.norm.ppf([0.25, 0.50, 0.75], loc=0, scale= 1)
    return tuple(np.around(pulse-norm,3))

Para refletir:

* Os valores encontrados fazem sentido?
* O que isso pode dizer sobre a distribuição da variável `false_pulsar_mean_profile_standardized`?
* Curiosidade: alguns testes de hipóteses sobre normalidade dos dados utilizam essa mesma abordagem.